.landing-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    height: 90vh;
}

.landing-my-name {
    margin-bottom: 10px;
}

.landing-more {
    width: 95%;
    padding-right: 5%;
    display: block;
    text-decoration: none;
    justify-content: center;
    border: 2px solid #A63D40;
    color: #E9B872;
    padding-top: 10px;
    transition: all 300ms ease-in;
    margin-top: 1vh;
    font-size: 40px;
    text-align: right;
}

.landing-more:hover {
    background-color: #A63D4050;
}

.horizontal-line {
    background-color: #E9B872;
    margin-right: 20px;
    width: 120px;
    height: 2px;
}