.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: inherit;
}

.special-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-div {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
}

.vault {
    font-size: inherit;
    color: #A63D40;
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
}