.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: inherit;
}

.special-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-div {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
}

.projects-div-inner {
    width: 290px;
    height: 260px;
    border-radius: 10px;
    background-color: #222222;
    margin: 15px;
}

.projects-div-inner * {
    margin-left: 25px;
}

.projects-div-inner img {
    margin: 20px 0 0 20px;
    width: 45px;
}

.projects-div-inner h2 {
    font-size: 25px;
    text-align: left;
}

.projects-div-inner p {
    margin: 10px 25px;
    font-size: 17px;
    width: fit-content;
}

.vault {
    font-size: inherit;
    color: #A63D40;
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
}