.projects-div-inner {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 5vh 5vw;
    width: 20vw;
    height: 35vh;
}

.projects-div-inner h2 {
    opacity: 1;
    font-weight: 400;
    font-size: 35px;
    text-align: left;
}

.projects-div-inner h3 {
    font-size: 17px;
    margin: 0;
    text-align: center;
}

.projects-div-inner p {
    font-size: 17px;
    width: fit-content;
}

.row {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.tech-item {
    font-weight: 400;
    background-color: #1e1e1e;
    width: fit-content;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 10px 25px;
}

.github {
    transition: 300ms all ease-in-out;
    text-align: center;
    width: 10vw;
    text-decoration: none;
    border-bottom: 2px solid #A63D40;
    font-size: 17px;
    padding: 10px 0;
    color: #E9B872;
}

.github:hover {
    background-color: #A63D40;
}