#resume {
    transition: all 300ms ease-in;
    border: 2px solid #A63D40;
    border-radius: 5px;
    color: #E9B872;
}

#resume:hover {
    background-color: #A63D40;
    transform: none;
}

.nav-bar {
    display: flex;
    align-items: center;
    height: 10vh;
}

.nav-bar span {
    margin-right: 10px;
    color: #E9B872;
}

.nav-list a {
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 30px;
    padding: 10px;
    text-decoration: none;
    transition: all 300ms ease-in;
}

.nav-list a:hover {
    color: #E9B872;
}

.nav-name {
    color: #FFFFFF;
    text-align: left;
    width: 25vw;
}

.nav-list {
    text-align: right;
    width: 75vw;
}