.contact-info-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 85vh;
}

.contact-me-button {
    text-decoration: none;
    border: 2px solid #A63D40;
    color: #E9B872;
    padding: 20px 0;
    width: 650px;
    margin-top: 1vh;
    font-size: 17px;
    transition: all 300ms ease-in;
}

.contact-me-button:hover {
    background-color: #A63D40;
}